@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    /* Hides scrollbar for IE and Edge */
    scrollbar-width: none;
    /* Hides scrollbar for Firefox */
}

/* Apply the Outfit font everywhere */
* {
    font-family: 'Outfit', sans-serif;
}

.clip-path-slant {
    clip-path: "polygon(0 0, 100% 0, 100% 86%, 0% 100%)",         
}